.modal {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  width: 700px;
  min-width: 500px;
  height: 95%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 105px 50px 165px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: url(/public/img/settingBg.png) no-repeat center;
  background-size: 100% 100%;
}

.modal-close {
  height: 20px;
  position: absolute;
  right: 20px;
}
.content-main-noti {
  margin: 0;
  margin-bottom: 10px;
}
.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

button {
  cursor: pointer;
  color: #6a737b;
}
button:hover {
  color: #000;
}

.menu {
  display: flex;
  margin-right: 15px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.menu.player .player,
.menu.monster .monster {
  color: #000;
}

.menu button {
  font-size: 22px;
}
.menu button:hover,
.menu button:active {
  color: #000;
}

.data-editor {
  border-top: 1px solid #000;
  flex-grow: 1;
  padding-top: 15px;
  margin-top: 15px;
  overflow-y: scroll;
  /* background: url(/public/img/bg.jpeg) no-repeat; */
  background-size: 100% 100%;
}

.local-monster {
  display: flex;
  margin-top: 20px;
  gap: 15px;
}
.local-monster button.selected {
  color: #000;
}
/* monster */
.data-editor-monster-content {
}

.sub-menu {
  display: flex;
  justify-content: space-around;
}
.sub-menu.create .create,
.sub-menu.change .change,
.sub-menu.patch .patch {
  color: #000;
  font-weight: 600;
}

.monster-data-container {
  height: 100%;
}

.require {
  color: red;
  margin-right: 2px;
}

section {
  margin-top: 20px;
}

input {
  background: none;
  border-bottom: 1px solid #000;
  font-size: 15px;
}

input:focus {
  outline: none;
}
.input-felid {
  position: relative;
}

.input-felid input:focus ~ span {
  /* 포커스가 있는 input의 뒤에 오는 span에 스타일을 적용 */
  /* 스타일을 적용할 내용 */
  color: red; /* 예시로 색상을 빨간색으로 설정 */
}
.input-felid {
  display: flex;
  flex-direction: column;
  padding: 2px;
  margin-left: 10px;
  flex: 1;
}

.submit {
  align-items: flex-end;
  color: #000;
  font-size: 20px;
  font-weight: 300;
  border-radius: 8px;
  padding: 5px;
  width: 50%;
  position: absolute;
  bottom: 115px;
  left: 50%;
  transform: translate(-50%);
}
.submit:hover {
  font-weight: 600;
}

/* attack */
.attack-input-container {
  display: flex;
}
.attack-input-container > div {
  width: 25%;
}
.option-button {
  text-align: center;
  align-self: center;
}
.option-button button {
  font-size: 15px;
  border: 1px solid #6a737b;
  padding: 5px 10px;
  border-radius: 8px;
}
.option-button button:hover {
  border: 1px solid #000;
  color: #000;
}

.update-option {
  display: flex;
  gap: 5px;
}

.saved-attack {
  margin-left: 10px;
  margin-top: 10px;
}
.saved-attack .th {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}
.saved-attack .th > div {
  width: 25%;
}
.saved-attack .tb {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.saved-attack .tb .colum {
  display: flex;
  /* justify-content: space-between; */
}
.saved-attack .tb .colum > div {
  width: 25%;
}
