.monster-container {
  position: relative;
  padding-left: 10px;
}
.info {
  position: absolute;
  right: 5px;
  bottom: 5px;
  border-radius: 10px;
  padding: 5px;
  text-align: right;
  border: 2px;
  text-align: right;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.info .name {
  font-size: 40px;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.info .level {
  font-size: 35px;
  font-weight: 400;
}
.info .attack {
  font-size: 30px;
  font-weight: 400;
}
.info .attack-list-button button {
  font-size: 25px;
  text-align: right;
}

.img-container {
  width: 100%;
  justify-content: center;
  display: flex;
}

.img-container img {
  max-width: 100%;
  min-width: 500px;
  height: 80vh;
}
