.attack-hobodang {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.attack-hobodang > button,
.attack-hobodang > input {
  font-size: 30px;
  text-align: center;
}
