body {
  padding: 0;
  margin: 0;
  border: 0;
}

.intro {
  flex: 1;
  height: 100vh;
  background-image: url(./img//bg.jpeg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-container {
  background-image: url(./img/bg.jpeg);
  height: 100vh;
  overflow: hidden;
}
